<!doctype html>
<html lang="en">
    <head>
        <title>Knowledge is Power!</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="app.js"></script>
        <script src="lessons.js"></script>
        <link href="main.css" rel="stylesheet">
    </head>

    <body>
        <div id="app">
            <div>
                <div>
                    <button @click="sortS"> Subject </button>
                    <button @click="sortP"> Price </button>
                    <button @click="sortL"> Location </button>
                    <button @click="sortI"> Availability </button>
                    <button @click="reverse"> Change Order </button>
            <!---- <button @click="orderbySubject()'> Subject </button>
                   <button @click='orderbyPrice()'> Price </button>
                   <button @click='orderbyLocat()'> Location </button>
                   <button @click='orderbyAvail()'> Availability </button>---->                    
                </div>      

            <header>
                <h1> {{ sitename }}</h1>
                <button   v-on:click='showCheckout'>{{cartItemCount}}
                          <span class ="fa fa-cart-plus"></span> Shopping Cart </button>

                   <br>
                   <br>
            </header>
            <main>
                    <div v-if='showProduct'>
                    <!--Using the for loop we are looping through the return of the sortedProducts computed property-->
                    <!--This will give us a list sorted by Price-->
                    
                    <div v-for="product in products">
                        <h2 v-text ="product.subject"></h2>
                             <figure>
                                <img v-bind:src="product.image">
                            </figure>
                        <p v-html ="product.description"></p>
                        <p v-html= "product.location" class=info></p>
                        <p> Price {{ product.price }} </p>
                    
                        <!-- The button will display when 'Add to Cart is True -->                        
                        <!--When we click the Add To Cart are now passing the product and its ID to the function as parameters-->
                        <!-- v-if to check how many products with the particular id are in the shopping 
                          cart against what are available in the inventory of that particular product-->
                                <span v-if="product.availableInventory === cartCount(product.id)">
                                    No Spaces Left!
                                </span>
                                <span v-else-if="product.availableInventory - cartCount(product.id) < 2">
                                    Only {{product.availableInventory - cartCount(product.id)}} left!!
                                </span>
                                <span v-else> {{product.availableInventory - cartCount(product.id)}} Spaces Avaialble!</span>
                        <!-- This button will be disabled otherwise -->
                        <button  disabled ='disabled' v-else>Add to Cart</button>
                          <br>
                        <button @click='addToCart(product)' v-if='canAddToCart(product)'> Add to Cart </button>
                          <br>
                          <br>

            </div>
        </div>

                       
            <div v-else>
                <div class="container">
                <h2>Checkout</h2>
                <!-- This input field is bound to 'firstName' in the 'order' object -->
                <p> <strong>Name:</strong>
                    <input v-model.trim="order.firstName" type="text" v-on:keypress="isLetter($event)" />
                </p>
                
                <p><strong>Telephone Number</strong> 
                    <input v-model.tel='order.number' type="number" />
                </p>

                <h2>Order Information</h2>
                <p> Name:{{order.firstName}}</p>
                <p>Number: {{order.number}}</p>

             <!--- button disabled until all 4 fields are filled correctly-->
                        
                 <button :disabled="!order.firstName.length || !order.number.length"
                 v-on:click="onSubmit" >Checkout</button>
                 </div>
            </div>

        </div>
    </div> 
            </main>
    </body>

    <script>
        var myapp = new Vue({
            el: '#app',
            data: {
                showProduct: true,
                sitename: 'LESSONS 4 ALL',
                cart: [], // array to store items in shopping cart,
                products: [],
                    order: {
                    firstName: "",
                    number: "",

            },
               
               created: function() { // this function will be run automatically
                // when creating the Vue instance
                fetch('https://jeancw2.herokuapp.com/collection/lessons').then(
                    function (response) {
                        response.json().then(
                                function (json) {
                // save the returned JSON object to 'product'
                // note that we used 'myapp.product' instead of 'this.product'
                myapp.products = json;
                    });

                })

                fetch('https://jeancw2.herokuapp.com/collection/orders'
                        , {
                            method: 'POST'
                            , 
                            headers: {
                                'Content-Type': 'application/json'
                                , 
                            },
                            body: JSON.stringify("newProduct"), 
                                                })
                        .then(response => response.json())
                        .then(responseJSON => {
                            console.log('Success:'
                                , responseJSON);
                        });



                }

           },
            
            methods:{
                addToCart: function (product) {
                    this.cart.push(product.id);
                },

                addToCheckOutCart(product){
                    this.addToCheckOutCart.push(product);
                },
                showCheckout: function(){
                    this.showProduct = this.showProduct ? false : true;
                },
                
                onSubmit(){
                    alert('Your booking has been confirmed!')
                },
             
                 canAddToCart: function(product){
                    return product.availableInventory > this.cartCount(product.id);
                },
                //cartCount Method to count the number of items of a particular type in the cart
                cartCount(id){
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++){
                        if(this.cart[i] === id){
                            count++
                        }
                    }
                    return count;
                },

                //text validation for Name + Surname + Address + Tel
                isLetter(e) {
                let char = String.fromCharCode(e.keyCode); 
                if(/^[A-Za-z ]$/.test(char)) return true; 
                else e.preventDefault(); // If no match, this will not allow keypress
                },

            
                
                sortS: function () {
    	        this.products.sort(this.sortSub);
                },
                reverse: function () {
    	        this.products.reverse();
                },

                sortP: function () {
    	        this.products.sort(this.sortPri);
                },
                reverse: function () {
    	        this.products.reverse();
                },

                sortL: function () {
    	        this.products.sort(this.sortLoc);
                },
                reverse: function () {
    	        this.products.reverse();
                },

                sortI: function () {
    	        this.products.sort(this.sortInv);
                },
                reverse: function () {
    	        this.products.reverse();
                },

                 sortSub: function (a,b) {
                 if(a.subject > b.subject)
                 return 1;
                 if (a.subject < b.subject)
                 return -1;
                 return 0;
                 },

                 sortPri: function (a,b) {
                 if(a.price > b.price)
                 return 1;
                 if (a.price < b.price)
                 return -1;
                 return 0;
                 },

                 sortLoc: function (a,b) {
                 if(a.location > b.location)
                 return 1;
                 if (a.location < b.location)
                 return -1;
                 return 0;
                 },

                 sortInv: function (a,b) {
                 if(a.availableInventory > b.availableInventory)
                 return 1;
                 if (a.availableInventory < b.availableInventory)
                 return -1;
                 return 0;
                 },
        
                             
            },

               computed: {
                cartItemCount: function(){
                    return this.cart.length;
                    },
 
            },
        });
    </script>
</html>